.wrapper {
  display: flex;
  gap: 10px;
  background-color: rgb(232, 228, 228);
}
.poster {
  max-width: 30%;
}
.wrapperAdditional {
  padding: 10px 0;
  background-color: rgb(237, 212, 212);
}
.text {
  padding-right: 20px;
}
